@mixin colorSet($color, $bgc) {
  color: $color;
  background-color: $bgc;
}

@mixin styling($bord-rad, $margin, $width) {
  border-radius: $bord-rad;
  margin: $margin;
  width: $width;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.next-question {
  @include styling(10px, 10px, 290px);
  @include colorSet(#fff, #016FB9);
  font-size: 1rem;
  height: 35px;
  &:hover {
    @include colorSet(#013309, #add9ec);
  }
}

.correct {
  @include colorSet(#fff, green);
  @include styling(15px, 10px 5px 5px 5px, 18.5vw);
  padding: 10px;
}

.incorrect {
  @include colorSet(#fff, maroon);
  @include styling(15px, 10px 5px 5px 5px, 18.5vw);
  padding: 10px;
}