.display {
  display: flex;
  justify-content: center;
}

.intro {
  color: #fff;
  width: 450px;
  text-align: center;
  background-color: #2D4C46;
  padding: 40px;
  opacity: .8;
  font-size: 3rem;
  border-radius: 15px;
}