@mixin colorSet($color, $bgc) {
  color: $color;
  background-color: $bgc;
}

li {
  margin: 30px;
  padding: 5px 20px;
}

.nav {
  @include colorSet(white, #2D4C46);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.reset-btn {
  background-color: #2D4C46;
  border-radius: 10px;
  &:hover {
    @include colorSet(rgb(20, 46, 131), #5b93b8);
    cursor: pointer;
  }
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}