@mixin colorSet($color, $bgc) {
  color: $color;
  background-color: $bgc;
}

@mixin inputFormat($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
}

.count {
  color: #ffeb3b;
}

.definition {
  width: 75%;
  height: 110px;
  margin: 5px;
  padding: 10px;
  color:#013309;
  background-color: #add9ec;
  opacity: .65;
  border-radius: 25px;
  font-size: 1.75rem;
}

.num-guess {
  @include colorSet(#fff, #016FB9);
  width: 40%;
  margin: 20px 5px 5px 5px;
  padding: 10px;
  border-radius: 15px;
}

.show-previous {
  @include colorSet(#fff, #016FB9);
  width: 40%;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no {
  color: maroon;
}

.yes {
  color: lightgreen;
}

.undefined {
  display: none;
}

.user-btn {
  @include inputFormat(290px, 35px, 10px);
  border-radius: 10px;
  font-size: 1.25rem;
  color: #fff;
  background-color: #016FB9;
  &:hover {
    @include colorSet(#013309, #add9ec);
  }
}

.user-input {
  @include inputFormat(290px, 35px, 10px);
  padding: 5px 2px 5px 5px;
  font-size: 1.25rem;
  
  background-color: #016FB9;
  &::placeholder {
    color:#fff;
  }
  &:hover {
    @include colorSet(#013309, #add9ec);
    &::placeholder {
      color: #013309;
    }
  }
}

